<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Welcome to Hyperion</h1>

          <hr class="intro-divider">

          <h3>Great online collection of audio albums</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>

        <h2 class="section-heading">Death to the paper notes</h2>

        <p class="lead">
          You don't need to write down your favorite album's details anymore. It's all in our user friendly online
          database.
        </p>
      </div>

      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image 'notes.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>

        <h2 class="section-heading">Discover new music</h2>

        <p class="lead">
          Look for new albums you didn't listen before. Find new albums from your favorite band. It's all here.
        </p>
      </div>

      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image 'discover.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>

        <h2 class="section-heading">Help others to discover cool music</h2>

        <p class="lead">
          Want to share some cool stuff with all people over the globe? Just add the details for any albums (if it's
          not on Hyperion yet).
        </p>
      </div>

      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image 'share.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Connect to Hyperion:</h2>
      </div>

      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="#" class="btn btn-default btn-lg">
              <span class="network-name">About</span>
            </a>
          </li>
          <li>
            <a href="#" class="btn btn-default btn-lg">
              <span class="network-name">Services</span>
            </a>
          </li>
          <li>
            <a href="#" class="btn btn-default btn-lg">
              <span class="network-name">Contact</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
