<h2>All albums</h2>

<% if albums.any? %>
  <div id="albums">
    <% albums.each do |album| %>
      <div class="album">
        <h2><%= album.title %></h2>
        <p><%= album.author %></p>
        <p><%= album.year %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p>There are no albums yet.</p>
<% end %>
