<h2>All albums</h2>

<div id="albums">
  <div class="album">
    <h3>Cold Altair</h3>
    <p>by <strong>The Hardkiss</strong></p>
  </div>

  <div class="album">
    <h3>Silent Hill 2 OST</h3>
    <p>by <strong>Akira Yamaoka</strong></p>
  </div>
</div>
