<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
      <div class="page-header">
        <h2 class="text-center">About Hyperion</h2>
      </div>

      <div class="text-normalized">
        <p>Hi!</p>

        <p>
          This is a simple application based on Ruby web framework called
          <a href="http://hanamirb.org/" target="_blank" title="Hanami website">Hanami</a>.
        </p>

        <p>Only the basic CRUD actions and styling are implemented.</p>

        <p>Cheers!</p>
      </div>

      <div class="text-center">
        <%= image 'Hanami-logo.png', class: 'centered img-responsive', alt: 'Hanami Logo' %>
      </div>

      <br>
    </div>
  </div>
</div>
