ul.cards li, ul.tag-list li {
  list-style: none;
}

ul.cards li h4 {
  margin-top: 20px;
  font-size: 16px;
}

ul.cards li div {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 140px;
  width: 140px;
  padding: 1em;
  position: relative;
}

ul.cards li div small {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px
}

ul.cards li div a {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: inherit;
}

ul.cards li {
  margin: 10px 40px 50px 0;
  float: left;
}

ul.cards li div p {
  font-size: 12px;
}

ul.cards li div {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 140px;
  width: 140px;
  padding: 1em;
  -moz-box-shadow: 5px 5px 2px rgba(33, 33, 33, 1);
  -webkit-box-shadow: 5px 5px 2px rgba(33, 33, 33, .7);
  box-shadow: 5px 5px 2px rgba(33, 33, 33, .7);
}

ul.cards li div {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}

ul.cards li:nth-child(even) div {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
}

ul.cards li:nth-child(3n) div {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

ul.cards li:nth-child(5n) div {
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  top: -10px;
}

ul.cards li div:hover, ul.cards li div:focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  position: relative;
  z-index: 5;
}

ul.cards li div {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 210px;
  width: 210px;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  -moz-transition: -moz-transform .15s linear;
  -o-transition: -o-transform .15s linear;
  -webkit-transition: -webkit-transform .15s linear;
}
